*-local-config.cmake
*.egg-info
*.pyc
*.txt.user
*workspace
.idea
.idea/*
.vscode
CMakeLists.txt.user
__pycache__
build
contrib/*
dhskit
ecbuild
eccodes
eckit
fdb5
mars-adsm
mars-hpss
mars-server
metkit
odc
pmem
examples/weather/ensemble*
examples/weather/ens_mean*
